@font-face {
  font-family: 'SFProText-Regular';
  src: local('SFProText-Regular'), local('SFProText-Regular'), url('../fonts/SFProText-Regular.woff2') format('woff2'), url('../fonts/SFProText-Regular.woff') format('woff'), url('../fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProText-RegularItalic';
  src: local('SFProText-RegularItalic'), local('SFProText-RegularItalic'), url('../fonts/SFProText-RegularItalic.woff2') format('woff2'), url('../fonts/SFProText-RegularItalic.woff') format('woff'), url('../fonts/SFProText-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SFProText-Semibold';
  src: local('SFProText-Semibold'), local('SFProText-Semibold'), url('../fonts/SFProText-Semibold.woff2') format('woff2'), url('../fonts/SFProText-Semibold.woff') format('woff'), url('../fonts/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay-Heavy';
  src: local('SFUIDisplay-Heavy'), local('SFUIDisplay-Heavy'), url('../fonts/SFUIDisplay-Heavy.woff2') format('woff2'), url('../fonts/SFUIDisplay-Heavy.woff') format('woff'), url('../fonts/SFUIDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}



