@import "variables";

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

html {
  font-size: 13px;
  font-family: 'SFProText-Regular', Arial, sans-serif;
}

body {
  background-color: $color-black;
  color: $color-white;
}

h1 {
  font-family: 'SFUIDisplay-Heavy', Arial, sans-serif;
  line-height: 1;
}

h2, h3, h4, h5, h6 {
  font-family: 'SFProText-Regular', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: $color-white;
  font-family: 'SFProText-Semibold', Arial, sans-serif;
  font-size: 18px;
}

a:hover, a:focus {
  text-decoration: none;
  color: $color-yellow;
}

.text-yellow {
  color: $color-yellow-light;
}

.text-aqua {
  color: $color-aqua;
}

.match-date {
  max-width: $match-date-max-width;
  margin: 0 auto;
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.market-links {
  margin-top: 40px;

  .market__link {
    width: 200px;
    height: 61px;
    display: inline-block;
  }

  .store-ios {
    margin-right: 15px;
    background-position: 0 0;
    &:hover {
      background-position: -200px 0;
    }
  }

  .store-google {
    background-position: 0 -61px;
    &:hover {
      background-position: -200px -61px;
    }
  }
}

.btn {
  width: 100%;
  background-color: $color-yellow-light;
  color: $color-black;
  cursor: pointer;
  font-family: 'SFProText-Semibold', Arial, sans-serif;
  font-size: 18px;
  padding: 0;
  padding-bottom: 2px;
  height: 50px;
  &:hover {
    background-color: $color-yellow;
  }
}

.section-title {
  font-family: 'SFUIDisplay-Heavy', Arial, sans-serif;
  font-size: 60px;
  margin: 0;
}

@include media-breakpoint-down(sm) {
  .section-title {
    font-size: 32px;
  }
}

@include media-breakpoint-down(xs) {
  .market-links .market__link {
    margin: 5px;
  }
}