$color-blue: #1f8adf;
$color-blue-dark: #0068bd;
$color-blue-light: #e3eafd;

$color-gray: #dde0e5;
$color-gray-light: #eff0f2;

$color-spase: #6f7c98;
$color-spase-light: #909ebb;
$color-spase-dark: #334059;

$color-white: #ffffff;

/* ------------------------- */
$color-yellow: #fff000;
$color-yellow-light: #ffec57;
$color-aqua: #11a6a6;
$color-black: #000000;

$match-date-max-width: 2560px;
$content-max-width: 1600px;