@import "../variables";

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

#about {
  clip-path: polygon(0 200px, 100% 0, 100% 100%, 0% 100%);
  width: 100%;
  background-color: $color-yellow-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -320px;
  min-height: 800px;
  padding-top: 210px;
  position: relative;

  .cover {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .tv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .screen {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
  
      margin: auto;
  
      opacity: 0;
      transition: opacity .5s;
  
      &.active {
        opacity: 0.5;
      }
    }
  }


  .slider {
    padding-bottom: 100px;
    position: relative;
  }

  .slick-dots {
    bottom: 40%;
    display: flex;
    right: 20px;
    width: auto;
  }

  .slick-dots.with-video {
    bottom: 30%;
  }

  .slick-dots li {
    height: 20px;
    width: 100%;
    /* IE 9 and 10 fix */
    @media screen and (min-width:0\0) {  
      width: 30px;
    }
  }

  .slick-dots li button {
    background-color: $color-white;
    height: 6px;
    padding: 3px;
    width: 100%;

    &:hover {
      box-shadow: 0px 0px 5px 0px $color-aqua;
    }
  }
  
  .slick-dots li.slick-active button {
    background-color: $color-aqua;
  }

  .slick-dots li button:before {
    content: "";
    left: 0;
    position: absolute;
    top: 0;
  }

  .item-text {
    min-height: 500px;
    position: relative;
    width: 100%;
  }

  .about-item-text-container {
    bottom: calc(40% + 40px);
    display: block;
    margin-top: 130px;
    left: 0;
    padding: 0 15px;
    position: absolute;
    width: 100%;

    .text-title {
      color: $color-black;
      font-family: 'SFUIDisplay-Heavy', Arial, sans-serif;
      font-size: 42px;
      line-height: 1.2;
      margin-bottom: 40px;
    }

    .text-description {
      color: $color-black;
      font-size: 24px;
    }
  }

  .about-content-container>.container {
    padding: 0;
  }

  .item-img-container img {
    width: 100%;
  }

  .with-video {
    .about-item-text-container {
      bottom: 0;
      margin-top: 0;
      position: relative;
    }
    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }

  @include media-breakpoint-down(lg) {
    clip-path: polygon(0 150px, 100% 0, 100% 100%, 0% 100%);
    margin-top: -200px;
    padding-top: 100px;

    .slider {
      padding-bottom: 20px;
    }

    .slick-dots {
      bottom: 0;
    }

    .item-img-container {
      margin-top: 100px;
    }

    .item-text {
      min-height: 300px;
    }

    .about-item-text-container {
      bottom: 40px;
      padding: 0;
      position: relative;
    }

    .with-video {
      margin-bottom: 250px;
    }
    .slick-dots.with-video {
      bottom: -20px;
    }
  }

  @include media-breakpoint-down(md) {
    clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
    margin-top: -100px;

    .item-img-container {
      display: none;
    }
    .item-text {
      min-height: 380px;
    }
    .about-content-container {
      margin-top: -50px;
    }
    .with-video {
      margin-bottom: 250px;
      .about-item-text-container {
        margin-top: 50px;
      }
    }
    .slick-dots.with-video {
      bottom: -20px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: -100px;
    min-height: 550px;

    .slider {
      padding-bottom: 30px;
    }

    .about-content-container {
      margin-bottom: 100px;
      margin-top: -100px;
    }

    .item-text {
      min-height: 180px;
    }

    .about-item-text-container {
      margin-top: 150px;

      .text-title {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 20px;
      }

      .text-description {
        font-size: 20px;
      }
    }
    .with-video {
      margin-bottom: 180px;
      .about-item-text-container {
        margin-top: 70px;
      }
    }
    .slick-dots.with-video {
      bottom: -10px;
    }
  }

  @include media-breakpoint-down(xs) {
    margin-top: -100px;

    .about-content-container {
      margin-bottom: 120px;
      margin-top: -100px;
    }
    .with-video {
      margin-bottom: 180px;
      .about-item-text-container {
        margin-top: 70px;
      }
    }
    .slick-dots.with-video {
      bottom: -10px;
    }
  }
}
