@import "../variables";

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

#contact {
  background-color: $color-black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 200px, 100% 0, 100% 100%, 0% 100%);
  margin-top: -250px;
  padding-top: 60px;
  position: relative;
  width: 100%;
  min-height: 500px;

  .contact-content-container {
    padding: 150px 0;
  }

  .form-group {
    position: relative;
    margin-bottom: 0;
    .palceholder {
      position: absolute;
      top: 25px;
      left: 40px;
      display: none;
    }
    label {
      color: $color-white;
      cursor: text;
    }
    .star {
      color: red
    }
  }

  .contact-form {
    font-family: 'SFProText-Regular', Arial, sans-serif;
    font-size: 18px;
    margin-top: 40px;

    input, textarea {
      appearance: none;
      background-color: #262626;
      border: none;
      text-decoration: none;
      outline: none;
      box-shadow: none !important; 
      color: $color-white;
      resize: none;
      border-radius: 0;
      -webkit-border-radius:0px;
      font-family: 'SFProText-Regular', Arial, sans-serif;
      font-size: 18px;
      padding: 30px 45px;
    }

    input {
      height: 76px;
    }

    textarea {
      height: 154px;
    }

    input.form-control, textarea.form-control {
      margin-bottom: 2px;
    }

    .text-group .palceholder {
      top: 30px;
      left: 45px;
    }

    .form-col-bottom {
      margin-top: 14px;
    }
    
    .terms {
      margin-top: 10px;
    }

    .terms a {
      color: #ffec57;
      &:hover {
        color: #fff000;
        text-decoration: underline;
      }
    }
    /* The container */
    .checkbox-container {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 0;
      cursor: pointer;
      line-height: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 20px;
      width: 20px;
      left: 0;
      top: 0;
      padding: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .checkbox-container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox-container input:checked ~ .checkmark {
      background-color: #fff000;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox-container .checkmark:after {
      left: 7px;
      top: 1px;
      width: 7px;
      height: 15px;
      border: solid #000;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  

  @include media-breakpoint-up(lg) {
    .contact-form {
      .form-col-left {
        padding-right: 2px;
      }
  
      .form-col-right {
        padding-left: 0;
      }

      .form-col-bottom {
        padding: 0;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    clip-path: polygon(0 150px, 100% 0, 100% 100%, 0% 100%);


  }

  @include media-breakpoint-down(md) {
    clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
    padding-top: 0;
    margin-top: -200px;



    .contact-form {
      .form-group .palceholder {
        top: 10px;
        left: 20px;
      }

      .text-group .palceholder {
        top: 10px;
        left: 20px;
      }

      input, textarea {
        font-size: 18px;
        padding: 10px 25px;
        height: 50px;
      }

      textarea {
        height: 100px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
  
  }

  @include media-breakpoint-down(xs) {

  }
}