@import "../variables";

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

#footer {
  border-top: 1px solid #4d4d4d;
  min-height: 90px;

  .top-container,
  .bottom-container {
    max-width: $content-max-width + 20px + 20px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    position: relative;
  }

  .bottom-container {
    padding-top: 0;
  }

  .rules {
    float: left;
    margin-right: 20px;
    font-size: 18px;
    margin-top: 6px;
  }

  .rules.small-text {
    margin-top: 10px;
  }

  .rules-link {
    margin-right: 20px;
    font-size: inherit;
  }

  .logo-container {
    float: left;
  }

  .logo-container a img {
    height: 48px;
  }

  .lang-container {
    float: right;
  }

  .facebook-link-container {
    float: right;
    padding: 5px;
    margin-right: 20px;
  }

  .lang-container .lang img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 0px 2px rgb(255, 255, 0);
    }
  }

  .facebook-link-container svg {
    fill: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
      fill: #ff0;
    }
  }

  .menu-container {
    float: right;
    height: 40px;
    margin-right: 60px;
    padding-top: 6px;
    height: auto;
  }

  .menu .menu__item {
    text-transform: uppercase;
    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  .small-text {
    font-size: 14px;
  }

  @include media-breakpoint-down(md) {
    .logo-container {
      width: calc(100% - 25px);
    }
    .logo-container a img {
      height: 30px;
    }
    .lang-container .lang img {
      height: 25px;
      width: 25px;
    }
    .facebook-link-container {
      padding: 0;
    }
    .facebook-link-container svg {
      height: 22px;
      width: 22px;
    }
    .top-container {
      margin-bottom: 0;
    }
    .menu-container {
      display: block;
      float: none;
    }
    .menu .menu__item {
      display: inline-block;
      margin: 0 40px 5px 0;
      font-size: 14px;
      &:not(:first-child) {
        margin: 0 40px 5px 0;
      }
    }
    .rules {
      margin-top: 10px;
      margin-right: 30px;
      font-size: 14px;
    }
    .rules-link {
      font-size: 14px;
    }
    .bottom-container {
      margin-bottom: 30px;
    }
    .small-text {
      font-size: 12px;
    }
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 30px;
    .menu .menu__item {
      display: block;
      margin: 0 40px 5px 0;
    }
  }
}