@import "../variables";

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

#reviews {
  background-color: #2e4823;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 200px, 100% 0, 100% 100%, 0% 100%);
  margin-top: -250px;
  padding-top: 60px;
  position: relative;
  width: 100%;

  .reviews-content-container {
    padding: 150px 0 250px 0;
  }

  .section-title {
    font-family: 'SFUIDisplay-Heavy', Arial, sans-serif;
    font-size: 60px;
    margin: 0;
  }

  .market-links {
    margin: 0 auto;
    text-align: center;
  }

  .quote-container {
    margin: 40px 0 60px 0;
    text-align: center;
    width: 100%;
  }
  
  .quote-text-container {
    background-color: #fff;
    color: $color-black;
    font-family: 'SFProText-RegularItalic', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
    padding: 30px 20px;
    position: relative;
    text-align: left;
  }

  .quote-text-container::before {
    background-color: $color-white;
    bottom: -16px;
    content: "\00a0";
    display: block;
    height: 35px;
    left: calc(50% - 20px);
    position: absolute;
    transform: rotate(47deg) skew(5deg);
    width: 35px;
    z-index: -1;
  }

  .author-name-container {
    color: $color-yellow-light;
    font-family: 'SFProText-Semibold', Arial, sans-serif;
    font-size: 18px;
  }
  .date-container {
    color: $color-white;
    font-family: 'SFProText-Regular', Arial, sans-serif;
    font-size: 16px;
  }

  /* RATING STARS */
  .rating {
    color: $color-black;
    font-size: 30px;
    margin-top: 15px;
    ul {
      display: block;
      line-height: 1;
      margin-bottom: 0;
      text-align: center;
      li {
        display: inline;
        position: relative;
      }
    }
  }

  .gold {
    color: $color-yellow-light;
    content: "\2605";
    left: 0;
    position: absolute;
  }

  .rating.rating-1 ul {li:nth-child(1) {&::before {@extend .gold;}}}
  .rating.rating-2 ul {li:nth-child(1), li:nth-child(2) { &::before { @extend .gold; }}}
  .rating.rating-3 ul {li:nth-child(1), li:nth-child(2), li:nth-child(3) {&::before {@extend .gold;}}}
  .rating.rating-4 ul {li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4) {&::before {@extend .gold;}}}
  .rating.rating-5 ul {li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5) {&::before {@extend .gold;}}}
  /* // END RATING STARS */

  .slider .slick-dots {
    bottom: 0;

    li button {
      background-color: $color-white;
      border-radius: 50%;
      height: 6px;
      width: 6px;

      &::before {
        content: '';
      }

      &:hover {
        box-shadow: 0px 0px 5px 0px $color-aqua;
      }
    }

    li.slick-active button {
      background-color: $color-aqua;
    }
  }

  .like-wrap {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 15px;
  }

  .btn {
    background-color: #395794;
    color: white;
    padding-top: 2px;
    font-family: 'SFProText-Regular', Arial, sans-serif;
    &:hover {
      background-color: #547dcf;
    }
  }

  a.btn {
    padding-top: 10px;
  }

  .like-svg {
    width: 20px;
    height: 20px;
    margin: -10px 5px 0 5px;
    fill: #fff;
  }

  @include media-breakpoint-down(lg) {
    clip-path: polygon(0 150px, 100% 0, 100% 100%, 0% 100%);
  }

  @include media-breakpoint-down(md) {
    clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
    padding-top: 0;
  }

  @include media-breakpoint-down(sm) {
    .section-title {
      font-size: 32px;
    }
    .quote-text-container {
      font-size: 16px;
    }
    .rating {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  @include media-breakpoint-down(xs) {
    .like-wrap {
      max-width: 200px;
    }
  }
}