@import "../variables";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

#start {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #364646;
  min-height: 600px;
  width: 100%;

  .black-polygon {
    background-color: $color-black;
    clip-path: polygon(70% 0, 0 0, 0 100%);
    width: 100%;
    position: absolute;
    height: 150px;
  }

  .top-container {
    max-width: $content-max-width + 20px + 20px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    position: relative;
    margin-bottom: 80px;
  }

  .logo-container {
    float: left;
  }

  .logo-container a img {
    height: 48px;
  }

  .lang-container {
    float: right;
  }

  .lang-container .lang img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 0px 2px rgb(255, 255, 0);
    }
  }

  .menu-container {
    float: right;
    height: 40px;
    margin-right: 60px;
    padding-top: 6px;
    height: auto;
  }

  .menu .menu__item {
    text-transform: uppercase;
    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  .start-content {
    padding-top: 50px;
    padding-bottom: 200px;
  }

  .start-content .phone-img-container img {
    width: 100%;
  }

  .start-content .start-logo-wrap {
    display: flex;
    margin-top: 70px;
    margin-bottom: 40px;
    align-items: center;
  }

  .start-content .start-logo {
    width: 160px;
    max-width: 160px;
    margin: 20px 20px auto;
  }

  .start-content .start-logo-description {
    font-size: 24px;
    line-height: 1.2;
    max-width: 400px;
  }

  .start-content .start-logo img {
    width: 100%;
  }

  .start-content .start-text h1 {
    font-size: 72px;
    margin-bottom: 30px;
  }

  .start-content .start-text h2 {
    font-size: 24px;
    max-width: 550px;
  }

  @include media-breakpoint-down(lg) {
    .black-polygon {
      height: 110px;
      clip-path: polygon(100% 0, 0 0, 0 100%);
    }
    .start-content {
      padding-top: 50px;
      padding-bottom: 250px;
    }
    .start-content .start-logo {
      margin-top: 0;
      width: 144px;
      max-width: 144px;
    }
  }

  @include media-breakpoint-down(md) {
    .black-polygon {
      height: 80px;
    }

    .logo-container {
      width: calc(100% - 25px);
    }

    .logo-container a img {
      height: 30px;
    }

    .lang-container .lang img {
      height: 25px;
      width: 25px;
    }
    
    .start-content {
      padding-top: 50px;
      padding-bottom: 150px;
    }
    
    .top-container {
      margin-bottom: 0;
    }

    .menu-container {
      display: block;
      margin: 40px 0 0 0;
      float: none;
    }

    .menu .menu__item {
      display: inline-block;
      margin: 0 40px 5px 0;
      font-size: 14px;
      &:not(:first-child) {
        margin: 0 40px 5px 0;
      }
    }

    .start-content .start-logo {
      width: 100px;
      max-width: 100px;
    }

    .start-content .start-text h1 {
      font-size: 42px;
      margin-bottom: 20px;
    }

    .start-content .start-text h2 {
      font-size: 18px;
    }
    .start-content .start-logo-description {
      font-size: 18px;
    }
  }

  @include media-breakpoint-down(sm) {
    .black-polygon {
      height: 50px;
    }
  }

  @include media-breakpoint-down(xs) {
    .black-polygon {
      height: 50px;
    }

    .market-links {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .menu .menu__item {
      display: block;
      margin: 0 40px 5px 0;
    }
  }
}